DASHSCOPE_API_KEY = "sk-9d6a4b41a661404b8e07683e32dff593"

# MinIO配置
MINIO_ENDPOINT = "localhost:9000"
MINIO_ACCESS_KEY = "minioadmin"
MINIO_SECRET_KEY = "minioadmin"
MINIO_BUCKET = "docqa-test"
MINIO_USE_SSL = "false"